<% include ./header%>
	<!-- 测试能否拿到数据 -->
	<!-- <%= datalist%> -->
	
	<!-- 路径导航 -->
	<ol class="breadcrumb">
		<li>
			<a href="#">首页</a>
		</li>
		<li>
			<a href="#">栏目管理</a>
		</li>
		<li>
			<a href="#">栏目列表</a>
		</li>
	</ol>
	<!-- 路径导航 END-->
	<table class="table">
		<tr>
			<td>栏目排序</td>
			<td>栏目名称</td>
			<td>栏目介绍</td>
			<td>创建时间</td>
			<td>进行操作</td>
		</tr>
		<% datalist.forEach(function(val){%>
			<tr>
				<td><%=val.order%></td>
				<td><%=val.name%></td>
				<td><%=val.description%></td>
				<!-- toLocaleString() 把时间转换成本地格式 -->
				<td><%=val.ctime.toLocaleString()%></td>
				<td>
					<!-- 编辑 -->
						<a href="/admin/itemEdit/<%=val._id%>">编辑</a>
					<!-- 编辑END -->

					<!-- 删除 -->
						<a href="/admin/itemRemove/<%=val._id%>">删除</a>
						<!-- 由于电脑不支持，所以未做弹框效果 -->
						<!-- onclick="return confirm('您确认要删除吗？')" -->
					<!-- 删除END -->
				</td>
			</tr>
		<% })%>
		
	</table>
<% include ./footer%>